<nav class="bg-gray">
  <div class="mx-auto border border-black-400">
    <div class="flex h-24">
      <img src="assets/horse.svg" />

      <div class="container bg-white dark:bg-black p-5">
        <a
          routerLink="/engines"
          class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
          >
          <h1>Engines</h1>
        </a>
      </div>

      <div class="container bg-white dark:bg-black p-5">
        <a
          routerLink="/tournaments"
          class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
        >
          <h1>Tournaments</h1>
        </a>
      </div>
    </div>
  </div>
</nav>
